<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <title>My Maps</title>
     <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main-body.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

     <script src="https://kit.fontawesome.com/ea63d3f158.js" crossorigin="anonymous"></script>

     <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <script type="text/javascript" src="/scripts/app.js"></script>
     <script type="text/javascript" src="/scripts/helperfunction.js"></script>

   </head>
<body>
  <%- include('partials/_header') %>
  <main>
  <div class="home-title">
    <h3>My Maps</h3>
  </div>

    <div class="map-cards">

    <% for(let card in cards) { %>

    <div class="row">
      <div class="card" style="width: 18rem;">

        <div class="map-class" data-lon=<%= cards[card].longitude %>
          data-lat=<%= cards[card].latitude %> id=<%= card %>
          style="width: 100%; height: 300px"></div>

      <div class="card-body">
        <h5 class="card-title"><%= cards[card].title %></h5>
        <p class="card-text"><%= cards[card].description %></p>
        <div class="mapbuttons">
        <a href="edit_map" class="btn btn-primary">Edit</a>

        <div class="heart-container">
          <i class="far fa-heart"></i>
        </div>

        <script>
          let btn = document.getElementById('btn');

          function Toggle(){
            if(btn.classList.contains("far")) {
              btn.classList.remove("far");
              btn.classList.add("fas");
            }
          }
        </script>

          <form method="POST" action="/delete/<%= cards[card].id %>">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <% } %>

</div>

</main>





<!-- TEST API -->
<!-- <div class="row">
  <div class="col-3">
    <div id="map1"></div>
  </div>
  <div class="col-3">
    <div id="map2"></div>
  </div>
  <div class="col-3">
    <div id="map3"></div>
  </div>
  <div class="col-3">
    <div id="map4"></div>
  </div>
</div> -->

<script>


// const cardInfo = []


$(document).ready(function() {

  const maps = $(".map-class")

  maps.each(function(index) {
    const mapId = $( this ).attr("id")
    const mapLat = $( this ).attr("data-lon")
    const mapLon = $( this ).attr("data-lat")
    initMap(Number(mapLat), Number(mapLon), mapId)
  });

  });


  // Use the jQuery to select all the map containers
  // Loop over the containers
  // In each loop you will access lat and lon and id - use jquery
  // call the initMap to call these three params






// const coordinates = require("");

// function initMap() {
//     const zoom = 10;
//     const lat_long_Ottawa = { lat: 45.424721, lng: -75.695000 };
//     const lat_long_Toronto = { lat: 43.651070,lng: -79.347015 };
//     const lat_long_Casablanca = { lat: 33.589886, lng: -7.603869 };


//     const coordsOttawa = {
//       zoom: zoom,
//       center: lat_long_Ottawa
//     };
//     const map1 = new google.maps.Map(document.getElementById("map1"), coordsOttawa);


//     const coordsToronto = {
//       zoom: zoom,
//       center: lat_long_Toronto
//     }
//     const map2 = new google.maps.Map(document.getElementById("map2"), coordsToronto);


//     const coordsCasablanca = {
//       zoom: zoom,
//       center: lat_long_Casablanca
//     }
//     const map3 = new google.maps.Map(document.getElementById("map3"), coordsCasablanca);



//     const addMarker = (coords, map) => {
//         new google.maps.Marker({
//         position: coords,
//         map: map,
//       });
//     }


//     addMarker(lat_long_Ottawa, map1)
//     addMarker(lat_long_Toronto, map2)
//     addMarker(lat_long_Casablanca, map3)

//   }






  // function initMap() {
  //   const zoom = 5;
  //   const lat_long_Ottawa = { lat: 45.424721, lng: -75.695000 };
  //   const lat_long_Toronto = { lat: 43.651070,lng: -79.347015 };
  //   const lat_long_Moscow = { lat: 55.751244, lng: 37.618423 };
  //   const lat_long_Casablanca = { lat: 33.589886, lng: -7.603869 };
  //   const coordsOttawa = {
  //     zoom: zoom,
  //     center: lat_long_Ottawa
  //   };
  //   const map1 = new google.maps.Map(document.getElementById("map1"), coordsOttawa);
  //   const coordsToronto = {
  //     zoom: zoom,
  //     center: lat_long_Toronto
  //   }
  //   const map2 = new google.maps.Map(document.getElementById("map2"), coordsToronto);
  //   const coordsMoscow = {
  //     zoom: zoom,
  //     center: lat_long_Moscow
  //   }
  //   const map3 = new google.maps.Map(document.getElementById("map3"), coordsMoscow);
  //   const coordsCasablanca = {
  //     zoom: zoom,
  //     center: lat_long_Casablanca
  //   }
  //   const map4 = new google.maps.Map(document.getElementById("map4"), coordsCasablanca);
  // }
</script>




<!-- FINISH TEST API-->

  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY %>&callback=initMap">
    </script>

<%- include('partials/_footer') %>
</body>
</html>
